<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>CQUCloud——一个专属于重大师生的公私有云平台</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Corporation Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	{% load static %}
    {% load staticfiles %}
	<!-- FlexSlider css -->
		<link rel="stylesheet" href="{%static 'css/flexslider.css'  %}" type="text/css" media="screen" />

	<!-- //FlexSlider css -->
    <script type="text/javascript" src="{% static 'js/jQuery.js' %}"></script>
    <script src="{%static 'js/jquery_form.js' %}"></script>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />

	<!-- for bootstrap carousel slider -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}" type="text/css" media="all">
	<!-- //for bootstrap carousel slider -->
	
	<!-- fontawesome icons  -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!-- //google fonts -->
		
</head>

<body>
	
<!-- header -->
<div class="header">
	<div class="agileits_top_menu">
		<div class="container">
			<div class="w3l_header_left">
				<ul>
				</ul>
			</div>
			<div class="w3l_header_right">
				<div class="w3ls-social-icons text-left">
					<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
					<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
					<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
					<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
					<a class="login" href="#" data-toggle="modal" data-target="#myModal1">登录</a>
					<a class="login" href="#" data-toggle="modal" data-target="#myModal12">注册</a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="content white agile-info">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
					<a class="navbar-brand" href="index.html">
						<h1>CQUCloud</h1>
					</a>
				</div>
				<!--/.navbar-header-->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li class="active"><a href="index.html">主页</a></li>
							<li><a href="about.html">我的资源</a></li>
							<li><a href="services.html">社区</a></li>
							<li><a href="gallery.html">关于我们</a></li>
						</ul>
					</nav>
				</div>
				<!--/.navbar-collapse-->
				<!--/.navbar-->
			</div>
		</nav>
	</div>
</div>
<!-- //header -->

<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1" class=""></li>
		<li data-target="#myCarousel" data-slide-to="2" class=""></li>
		<li data-target="#myCarousel" data-slide-to="3" class=""></li>
		<li data-target="#myCarousel" data-slide-to="4" class=""></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="container">
				<div class="carousel-caption">
					<div class="col-md-6 banner_left">
						<h3>全站响应式布局 <span>移动端</span> 也能拥有良好的使用体验</h3>
					</div>
					<div class="col-md-6 banner_right">
						<div class="agileits-button top_ban_agile">
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="item item2">
			<div class="container">
				<div class="carousel-caption text-center">
					<h3><span>多用户</span></h3>
					<h3>你可以将CQUCloud作为私有云使用，Cloudreve强大的用户系统也可作为公有云平台使用。 </h3>
					<div class="agileits-button top_ban_agile">
					</div>
				</div>
			</div>
		</div>
		<div class="item item3">
			<div class="container">
				<div class="carousel-caption">
					<h3><span>文件管理系统 </span></h3>
					<h3>支持文件上传下载 分享预览 分类搜索</h3>
					<div class="agileits-button top_ban_agile">
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="fa fa-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="fa fa-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
	<!-- The Modal -->
</div>
<!-- //banner -->

<!-- footer -->
<div class="footer_top_agileits">
	<div class="container-fluid">
		<div class="col-md-3 footer_grid">
			<h3>关于我们</h3>
			<p>一个专注于重庆大学师生的资源储存平台和资源共享平台。您可以通过CQUcloud轻松地进行照片、视频、文档等文件的网络备份、同步和分享，工作学习娱乐一“盘”搞定！</p>
		</div>
		<div class="col-md-3 footer_grid">
			<h3>最新更新</h3>
			<ul class="footer_grid_list">
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a data-toggle="modal" data-target="#myModal">分享动态可以评论、回复啦</a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a data-toggle="modal" data-target="#myModal">增加资源社区，享受分享的快乐</a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a data-toggle="modal" data-target="#myModal">搜索云盘文件，查找更方便</a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a data-toggle="modal" data-target="#myModal">轻松预览云盘内的文件</a>
				</li>
			</ul>
		</div>
		<div class="col-md-3 footer_grid">
			<h3>联系方式</h3>
			<ul class="address">
				<li><i class="fa fa-map-marker" aria-hidden="true"></i>重庆大学<span>计算机学院</span></li>
				<li><i class="fa fa-envelope" aria-hidden="true"></i><a >CQUCloud@163.com</a></li>
				<li><i class="fa fa-phone" aria-hidden="true"></i>QQ:102912304</li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid_agileits_w3 footer_grid">
				<h3>团队成员</h3>
			<div class="footer-list">
				<div class="flickr-grid">
					<a href="#"><img src="{% static 'images/p1.jpg' %}" alt=" " ></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="{% static 'images/p2.jpg' %}" alt=" "></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="{% static 'images/p3.jpg' %}" alt=" " ></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="{% static 'images/p4.jpg' %}" alt=" "></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="{% static 'images/p5.jpg' %}" alt=" "></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="{% static 'images/p6.jpg' %}" alt=" "></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="{% static 'images/p7.jpg' %}" alt=" "></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="{% static 'images/p8.jpg' %}" alt=" "></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="{% static 'images/p9.jpg' %}" alt=" "></a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="footer_w3ls">
	<div class="container">
		<div class="footer_bottom1">
			<p>Copyright © 2018 CQUcloud.org All rights reserved.
页面样式来自 <a href="http://w3layouts.com">bootstrap</a></p>
		</div>
	</div>
</div>
<!-- //footer -->


<!-- signin Model -->
<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body modal-body-sub_agile">
				<div class="main-mailposi">
					<span class="fa fa-envelope-o" aria-hidden="true"></span>
				</div>
				<div class="modal_body_left modal_body_left1">
					<h3 class="agileinfo_sign">欢迎登陆</h3>
					<form action="/login/" method="post" id="loginForm">
                        {% csrf_token %}
						<div class="styled-input agile-styled-input-top">
							<input id="name" type="text" placeholder="用户名" name="name" required="">
						    <span id="hider1" class="helper-text"></span>
                        </div>
						<div class="styled-input" style="margin-top: 20px;margin-bottom: 20px">
							<input id="pwd" type="password" placeholder="密码" name="pwd" required="">
						    <span id="hider2" class="helper-text"></span>
                        </div>
                        <div class="styled-input" style="margin-top: 20px;margin-bottom: 20px">
							<input type="checkbox" name="checkedd" value="RememberMe" /> 记住我
						    <span id="hider2" class="helper-text"></span>
                         </div>
                         <button  class="waves-effect waves-light btn" type="submit"> 登陆</button>
					</form>

					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- //Modal content-->
	</div>
</div>
<!-- //Modal1 -->
<!-- //signin Model -->
	
<!-- signin Model -->
<!-- Modal1 -->
<div class="modal fade" id="myModal12" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body modal-body-sub_agile">
				<div class="main-mailposi">
					<span class="fa fa-envelope-o" aria-hidden="true"></span>
				</div>
				<div class="modal_body_left modal_body_left1">
					<h3 class="agileinfo_sign">注册</h3>
					<form action="/register/" method="post" id="registerForm">
                        {% csrf_token %}
                        <div class="styled-input agile-styled-input-top">
                            <input id="nickname1" type="text" placeholder="昵称" name="nickname1" required=""><!--未实现用户名的判断-->

                        </div>

						<div class="styled-input agile-styled-input-top">
                            <input id="name1" type="text" placeholder="用户名（不可修改）" name="name1" required=""><!--未实现用户名的判断-->

                        </div>
						<div class="styled-input agile-styled-input-top">
							<input id="email1" type="email" placeholder="邮箱" name="email1" required=""><!--邮箱验证-->

                        </div>
						<div class="styled-input">
							<input id="pwd1" type="password" placeholder="密码" name="pwd1" required="">
						</div>
						<div class="styled-input">
							<input id="pwd2" type="password" placeholder="确认密码" name="pwd2" required="">
						</div>
						<button class="waves-effect waves-light btn" type="submit">  注册</button>
					</form>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- //Modal content-->
	</div>
</div>
<!-- //Modal1 -->
<!-- //signin Model -->

<!-- bootstrap-modal-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				Corporation
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
			</div>
			<div class="modal-body">
				<img src="{% static 'images/banner1.jpg' %}" alt=" " class="img-responsive" />
				<p>Ut enim ad minima veniam, quis nostrum 
					exercitationem ullam corporis suscipit laboriosam, 
					nisi ut aliquid ex ea commodi consequatur? Quis autem 
					vel eum iure reprehenderit qui in ea voluptate velit 
					esse quam nihil molestiae consequatur, vel illum qui 
					dolorem eum fugiat quo voluptas nulla pariatur.
					<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
						esse quam nihil molestiae consequatur.</i></p>
			</div>
		</div>
	</div>
</div>
<!-- //bootstrap-modal-pop-up -->

<script>
    var LoginForm = document.getElementById("loginForm");
	var RegisterForm = document.getElementById("registerForm");

	document.getElementById('name').onchange = function(){
		document.getElementById("hider1").innerText = "";
	}
	document.getElementById('pwd').onchange = function(){
		document.getElementById("hider2").innerText = "";
	}

	LoginForm.onsubmit = function(){
		var name = document.getElementById('name');
		var pwd =document.getElementById('pwd');
		if (name.value === "") {
			alert("用户名不能为空");
			return false;
		} else if(pwd.value === "") {
			alert("密码不能为空");
			return false;
		} else {
			return true;
		}
	}

    RegisterForm.onsubmit = function() {
	    console.log(1);
			if (document.getElementById("name1").value === ""){
				alert("用户名不能为空");
				return false;
			} else if (document.getElementById("pwd1").value === ""){
				alert("密码不能为空");
				return false;
			} else if(document.getElementById("email1").value===""){
			    alert("邮箱不能为空")
            }
			else{
				return true;
			}
		}
   $('#registerForm').ajaxForm(function(data){
       console.log(1);
		if (data === "success") {
			alert("请前往邮箱确认");
			window.location = "/index";
		} else if (data === "error"){
			alert("用户名重复")
		}
		else if(data==="different"){
		    alert("两次密码不一致")
        }
        else if(data==="same_email"){
		     alert("邮箱已经被注册")
        }
	   })
      $('#loginForm').ajaxForm(function(data){
          console.log(1);
		document.getElementById("hider1").innerText = "";
		document.getElementById("hider2").innerText = "";
		if(data==="not_confirm"){
		    alert("邮箱未被验证")
        }
		else if (data === "not exist") {
			document.getElementById("hider1").innerText = "用户不存在";
		} else if(data === "password error"){
			document.getElementById("hider2").innerText = "密码错误";
		} else{
			console.log(data)
			window.location = data
		}
	  })


</script>


	<!-- js -->


	<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
	
	<!-- stats -->
	<script src=""></script>
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->

	<!-- owl carousel -->
	<script src="{% static 'js/owl.carousel.js'%}"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({

				autoPlay: 3000, //Set AutoPlay to 3 seconds
				autoPlay: true,
				items: 3,
				itemsDesktop: [991, 2],
				itemsDesktopSmall: [414, 4]

			});
		}); 
	</script>
	<!-- //owl carousel -->
	
	<!-- Responsive slider  -->
	<script src="{% static 'js/responsiveslides.min.js' %}"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
	<!-- //Responsive slider  -->

	<!-- Flex slider-script -->
	<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
	<!-- //Flex slider-script -->
	
	<!-- start-smooth-scrolling -->
	<script src="{% static 'js/move-top.js' %}"></script>
	<script src="{% static 'js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	
	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
	
	<!-- smooth scrolling js -->
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<!-- //smooth scrolling js -->

</body>
</html>